@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xdj4kn');
	src:url('../fonts/icomoon.eot?#iefix-xdj4kn') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-xdj4kn') format('truetype'),
		url('../fonts/icomoon.woff?-xdj4kn') format('woff'),
		url('../fonts/icomoon.svg?-xdj4kn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-locked:before {
	content: "\e602";
	font-size: 3em;
}
.icon-unlocked:before {
	content: "\e601";
	font-size: 3em;
}

/*MyStyles*/
.mesa{
	border-radius: 70%;
	padding: 0em 0em;
	margin: 0em 0em;
}
.mesa:hover{
	cursor: pointer;
	background: red;
}
input[type=text]{
	background: black;
}
.fa{
	display: none;
}